table {
    width: 1000px;
    /* margin-left: 100px; */
    /* margin-top: 100px; */
    margin: 50px auto;
    border: 0px solid red;
}
table tr {

}
table tr td {
    height: 70px;
    border: 0px solid blue;
    text-align: center;
    font-size: 25px;
}
.imgTable tr td {
    height: 200px;
    font-size: 18px;
}
.imgTable tr td img {
    width: 230px;
    height: 150px;
}
