@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.back {
    position: fixed;
    top: 0; left: 0;
    z-index: 99;

    color: white;
    width: 100%; height: 100%;
    background: teal;
    background: url(../img/bg2.jpg);
    background-size: 100% 100%;
}
.skip {
    position: absolute; 
    bottom: 100px; left: 50%;
    transform: translateX(-50%);


    width: 100px; height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    color: white;
    border: 0px solid white;
    overflow: hidden;
}
.skip p {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    border: 1px solid black;
    transition: all 0.5s;
    background: white;
    color: black;
}
.skip:hover p {
    top: -100%;
}
.skip:hover .skip2 {
    top: 0;
}
/* 밀고 올라오는 또 다른 div */
.skip .skip2 {
    position: absolute;
    top: 100%; left: 0;

    width: 100%; height: 100%;
    border: 1px solid blue;
    background: rgba(0, 0, 255, 0.346);
    transition: all 0.5s;
}






.text1 {
    position: absolute;
    top: 100px; left: 100px;

    font-size: 2rem;
    width: 200px; height: 50px;
    line-height: 50px;
    border: 0px solid white;
    opacity: 0;
    animation: text1_ani 3s;
    animation-fill-mode: forwards;
}
@keyframes text1_ani {
    0% { opacity: 0; top: 200px; }
    100% { opacity: 1; top: 100px; }
}

.car {
    position: absolute;
    top: 50px; right: 0;

    width: 200px; height: 100px;
    border: 0px solid white;
    animation: car_ani 5s infinite;
    /* animation-iteration-count: 3; */
    animation-fill-mode: forwards;
}
@keyframes car_ani {
    0% { left: 100%; opacity: 0;}
    20% { left: 80%; opacity: 1;}
    100% { left: 100%; opacity: 1;}
}
.car img {
    width: 100%; height: 100%;
}
.up {
    position: absolute;
    top: 90%; left: 95%;

    width: 30px; height: 50px;
    border: 0px solid white;
    background: url(../img/up.svg);
    background-size: 100% 100%;
    cursor: pointer;
}
.up:hover {
    animation: up_ani 2s linear infinite;
}
@keyframes up_ani {
    0% { top: 92%; } 
    25% { top: 91%; }
    50% { top: 90%; }
    75% { top: 91%; }
    100% { top: 92%; }
}

.my {
    position: relative;
    top: 0; left: 0;

    width: 90px; height: 40px;
    border: 1px solid #333;
    margin-top: 50px;
    cursor: pointer;
    background: black;
}
.my p {
    width: 100%; height: 100%;
    line-height: 40px; 
    text-align: center;
}
.my:hover ul {
    left: 0;
}
.my ul {
    position: absolute;
    top: 100%; left: -110%;
    width: 100%;

    border: 1px solid #999;   
    transition: 0.5s; 
    background: #555;
    color: white;
}
.my ul li {
    width: 100%; height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 5px;
    border-bottom: 1px dashed #999;
}
.my ul li:hover {
    background: orange;
}
.bigBox {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    width: 500px; height: 300px;
    border: 0px solid #ccc;
    background: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bigBox div {
    position: relative;
    top: 0; left: 0;

    width: 100px; height: 200px;
    border: 0px solid black;
    overflow: hidden;
}
.bigBox div p {
    width: 100%; height: 100%;
}
.bigBox div p img {
    width: 100%; height: 100%;
}
.bigBox div:hover div {
    top: 0%;
}
.bigBox div div {
    position: absolute;
    top: 100%; left: 0;

    width:100%; height: 100%;
    text-align: center;
    line-height: 30px;
    background: purple;
    color: white;
    transition: 0.5s;
    opacity: 0.5;

}





.menu {    
    width: 100%; height: 50px;
    border: 0px solid black;
    display: flex;
    justify-content: center;
}
.menu li {
    border: 0px solid green;
    margin-right: 20px;
    line-height: 50px;
    cursor: pointer;
}
.menu li:hover {
    color: red;
}
.menu li:first-child {
    margin-right: 200px;
    font-size: 2rem;
}
.msg {
    width: 100%; height: 30px;
    background: rgba(255, 166, 0, 0.3);
    display: flex;
    justify-content: center;
}
.msg p {    
    border: 0px solid black;
    line-height: 30px;
    font-size: 0.8rem;
}
.msg p span {
    font-size: 1rem;
}
.msg p:first-child {
    margin-right: 100px;
}
.msg p:last-child {
    color: purple;
    cursor: pointer;
}

.main {
    width: 1024px;
    border: 0px solid blue;
    margin: 20px auto;
}
.main .msg1 {
    width: 100%; height: 350px;
    display: flex;
    justify-content: space-between;
}
.main .msg1 li {
    width: 48%;
    border: 0px solid #ccc;
}
.main .msg1 li:first-child {
    background: url(../img/svg1.svg);
    background-size: 100% 100%;
}
.main .msg1 p {

}
.main .msg1 p:nth-child(1) {
    margin-top: 100px;   
    font-size: 1.3rem;
    text-indent: 200px;
}
.main .msg1 p:nth-child(2) {
    font-size: 2rem; 
    line-height: 70px;
    font-family: hy견고딕;
    font-family: 'PyeongChangPeace-Bold';
    text-indent: 100px;
}
.main .msg1 p:nth-child(3) {
    text-align: right;
    font-size: 2rem;
}

.main .msg2 {
    width: 100%; height: 350px;
    display: flex;
    justify-content: space-between;
}
.main .msg2 li {
    width: 50%;
    font-size: 1.5rem;
    border-bottom: 1px solid purple;
}
.main .msg2 li:nth-child(1) {
    text-align: left;
}
.main .msg2 li:nth-child(2) {
    text-align: center;
}
.main .msg2 li:nth-child(3) {
    text-align: left;
}